// 引入全局样式
@import '../../global.less';

.content-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  gap: 24px;

  .tabs {
    flex: 0 0 166px;
    padding: 24px;
    height: min-content;
    background: #fff;
    border-radius: 12px;

    .tab {
      font-size: 14px;
      color: theme('colors.text-secondary');
      line-height: 22px;
      cursor: pointer;
      user-select: none;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .active-tab {
      font-weight: 500;
      color: theme('colors.text-strong');
      position: relative;

      &:hover {
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 22px;
        background: theme('ant.colorPrimary');
        left: -24px;
        bottom: 0;
      }
    }
  }

  .card {
    max-width: 548px;
    background: #fff;
    border-radius: 12px;
    width: 100%;
    padding: 24px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 16px;
      color: theme('colors.text-strong');
      line-height: 24px;
      margin-bottom: 24px;
    }

    .avatar {
      width: 80px;
      height: 80px;
      font-size: 36px;
      border-radius: 50%;
      margin-bottom: 24px;
    }

    .input {
      height: 42px;
      font-size: 14px;
      border-radius: 6px;
      color: theme('colors.text-regular');

      &:disabled {
        border-color: theme('ant.colorBorderSecondary');
      }
    }

    .text-botton {
      color: theme('colors.primary-600');
      cursor: pointer;
    }

    .submit-button {
      height: 36px;
    }

    .pay-success {
      max-width: 300px;
      margin: 0 auto;
      background: #fff;

      .pay-icon {
        display: block;
        width: 48px;
        height: 48px;
        margin: 45px auto 24px;
      }

      .pay-title {
        font-weight: 500;
        font-size: 16px;
        color: #383533;
        line-height: 24px;
        margin-bottom: 8px;
        text-align: center;
      }

      .pay-tip {
        font-weight: 400;
        font-size: 14px;
        color: #61605f;
        line-height: 22px;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }
}

.radio-container {
  display: flex;

  .radio-item {
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 12px;
    border: 1px solid #f0eeec;
    flex: 1;

    &.active {
      border-color: #f2ede4;
    }

    .img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    :global {
      .ant-radio-wrapper {
        width: 100%;
        background-color: #fffbf0;
        padding: 8px;
      }
    }
  }
}
