html,
body {
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100vh;
  background-color: rgb(32 32 32);
  padding: 12px;

  .form-item {
    margin-bottom: 12px;

    :global {
      .ant-form-item-label > label {
        color: white;
      }

      .ant-form-item-tooltip {
        color: white !important;
      }
    }
  }

  .card {
    margin-bottom: 12px;
    width: 100%;
    background-color: rgb(49 49 49);

    :global {
      .ant-card-head {
        border-bottom: 0;
        min-height: unset;
        padding: 4px 12px;
        font-size: 14px;
        font-style: italic;
        color: #bbb;
      }

      .ant-card-body {
        padding: 12px;

        p {
          width: fit-content;
          margin: 0;
        }
      }
    }
  }

  .save-btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .how-to-use-btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 0;
  }

  .copy-right {
    width: fit-content;
    margin: 50px auto;
    font-size: 12px;
    font-style: italic;
    color: #bbb;
  }
}

.shortcut-picker {
  :global {
    .ant-select-selection-item-remove {
      color: #bbb !important;
    }

    .ant-select-arrow {
      color: #bbb;
    }
  }
}

.popup-container {
  background-color: rgb(49 49 49);
}
